



    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_char_field">Char field</label>
        

        <div class=" col-sm-10 ">
            <input type="text" name="char_field" class=" form-control" id="id_char_field">

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_choice_field">Choice field</label>
        

        <div class=" col-sm-10 ">
            <select name="choice_field" class=" form-control" id="id_choice_field">
  <option value="0">Zero</option>

  <option value="1">One</option>

  <option value="2">Two</option>

</select>

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 ">Radio choice</label>
        
        <div class=" col-sm-10">
            
                <div class="radio">
                    <label>
                        <input type="radio" name="radio_choice" value="0" id="id_radio_choice_0">
                        Zero
                    </label>
                </div>
            
                <div class="radio">
                    <label>
                        <input type="radio" name="radio_choice" value="1" id="id_radio_choice_1">
                        One
                    </label>
                </div>
            
                <div class="radio">
                    <label>
                        <input type="radio" name="radio_choice" value="2" id="id_radio_choice_2">
                        Two
                    </label>
                </div>
            

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_multiple_choice">Multiple choice</label>
        

        <div class=" col-sm-10 ">
            <select name="multiple_choice" class=" form-control" id="id_multiple_choice" multiple>
  <option value="0">Zero</option>

  <option value="1">One</option>

  <option value="2">Two</option>

</select>

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 ">Multiple checkbox</label>
        
        <div class=" col-sm-10">
            
                <div class="radio">
                    <label>
                        <input type="checkbox" name="multiple_checkbox" value="0" id="id_multiple_checkbox_0">
                        Zero
                    </label>
                </div>
            
                <div class="radio">
                    <label>
                        <input type="checkbox" name="multiple_checkbox" value="1" id="id_multiple_checkbox_1">
                        One
                    </label>
                </div>
            
                <div class="radio">
                    <label>
                        <input type="checkbox" name="multiple_checkbox" value="2" id="id_multiple_checkbox_2">
                        Two
                    </label>
                </div>
            

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_file_fied">File fied</label>
        

        <div class=" col-sm-10 ">
            <input type="file" name="file_fied" id="id_file_fied">

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_password_field">Password field</label>
        

        <div class=" col-sm-10 ">
            <input type="password" name="password_field" class=" form-control" id="id_password_field">

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        
            <label class="control-label col-sm-2 " for="id_textarea">Textarea</label>
        

        <div class=" col-sm-10 ">
            <textarea name="textarea" cols="40" rows="10" class=" form-control" id="id_textarea">
</textarea>

            

            
        </div>
    
</div>


    

<div class="form-group clear">
    
        <div class=" col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                
                    <label >
                        <input type="checkbox" name="boolean_field" id="id_boolean_field"> <span>Boolean field</span>
                    </label>
                
                

                
            </div>
        </div>
    
</div>




