{% extends 'core/base.html' %}
{% load static %}
{% block title %}Log in | {{ block.super }}{% endblock %}

{% block content %}
{% if request.signon %}
<h3 class="m-b-2">Log in with an external account</h3>
<ul class="list-group m-b-2">
{% for provider, identity in request.signon.status %}
    <li class="list-group-item list-group-item-action">
    {% if provider.icon %}
        <img style="vertical-align: text-top;
                    height: 1em"
             alt="{{ provider.label }} icon"
             src="{% static provider.icon %}">
        </img>
    {% endif %}
    {% if identity %}
        Logged in with {{ provider.label }} as {{ identity.subject }}
    {% else %}
        <a href="{{ provider.get_authorization_url }}">Login with {{ provider.label }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

<h3 class="m-b-2">Log in with a local account</h3>
<div id="login-form-container">
    {% include 'accounts/post-form.html' with form_id='form-login' %}
    <div class="row">
	{# The offset here should match the one in the include above #}
	<div class="col-sm-offset-2 col-sm-10 m-t-1">
	    <a id="forgot-password-link" href="{% url 'dtracker-accounts-forgot-password' %}">Forgot your password?</a>
	</div>
    </div>
    {% include 'accounts/login-extra.html' %}
</div>
{% endblock %}
