<div id="footer-title">{% if DISTRO_TRACKER_VENDOR_URL %}<a href="{{ DISTRO_TRACKER_VENDOR_URL }}">{{ DISTRO_TRACKER_VENDOR_NAME }}</a>{% else %}{{ DISTRO_TRACKER_VENDOR_NAME }}{% endif %} Package Tracker</div>
<div id="footer-copyright">
    <a href="https://deb.li/DTAuthors">Copyright</a> 2013-2025 The Distro Tracker Developers
</div>
<div id="footer-repository">
    <a href="https://qa.pages.debian.net/distro-tracker/">Documentation</a> —
    <a href="https://salsa.debian.org/qa/distro-tracker/issues">Bugs</a> —
    <a href="https://salsa.debian.org/qa/distro-tracker">Git Repository</a> —
    <a href="https://qa.pages.debian.net/distro-tracker/contributing.html">Contributing</a>
</div>
